@font-face {
    font-family: 'Intro Book';
    src: url(../fonts/Intro\ Book\ Regular.otf);
}

@font-face {
    font-family: 'Intro Book Alt Regular';
    src: url(../fonts/Intro\ Book\ Alt\ Regular.otf);
}

@font-face {
    font-family: 'Intro Bold Alt Regular';
    src: url(../fonts/Intro\ Bold\ Alt\ Regular.otf);
}

@font-face {
    font-family: 'Intro Light';
    src: url(../fonts/Intro\ Light\ Regular.otf);
}

@font-face {
    font-family: 'Intro Regular';
    src: url(../fonts/Intro\ Regular.otf);
}

@font-face {
    font-family: 'Intro Cond';
    src: url(../fonts/Intro\ Cond.otf);
}

@font-face {
    font-family: 'Intro Cond Alt';
    src: url(../fonts/Intro\ Cond\ Alt.otf);
}

@font-face {
    font-family: 'Intro Cond Bold';
    src: url(../fonts/Intro\ Cond\ Bold.otf);
}

@font-face {
    font-family: 'Intro Cond Light';
    src: url(../fonts/Intro\ Cond\ Light.otf);
}

@font-face {
    font-family: 'Intro Cond Thin';
    src: url(../fonts/Intro\ Cond\ Thin.otf);
}

@font-face {
    font-family: 'Intro Cond Thin Alt';
    src: url(../fonts/Intro\ Cond\ Thin\ Alt.otf);
}

@font-face {
    font-family: 'Intro Cond Semibold Italic';
    src: url(../fonts/Intro\ Cond\ SemiBold\ Italic.otf);
}

@font-face {
    font-family: 'Intro Cond Semibold Alt';
    src: url(../fonts/Intro\ Cond\ SemiBold\ Alt.otf);
}

@font-face {
    font-family: 'Myriad Pro Regular';
    src: url(../fonts/Myriad\ Pro\ Regular.ttf);
}

@font-face {
    font-family: 'Myriad Pro italic';
    src: url(../fonts/MyriadPro-CondIt.otf);
}


:root {
    --title-1-color: #8F8E8B;
    --title-2-color: #908E8E;
    --title-3-color: #4E4E4E;
    --title-4-color: #9C2222;
    --title-5-color: #928f8f;
    --title-white: #ffffff;
    --paragraph-1-color: #343545;
    --datos: #666;

}

/* color de textos */
.title-1 {
    color: var(--title-1-color);
}

.title-2 {
    color: var(--title-2-color);
}

.title-3 {
    color: var(--title-3-color);
}

.title-5 {
    color: var(--title-5-color);
}

.title-white {
    color: var(--title-white);
}

.datos-txt {
    color: var(--datos);
}

.paragraph-1 {
    color: var(--paragraph-1-color);
}

.title-red {
    color: var(--title-4-color);
}


/* tipo de fuente */
.myriad-pro-regular {
    font-family: 'Myriad Pro Regular';
}

.myriad-pro-italic {
    font-family: 'Myriad Pro italic';
}

.intro-book {
    font-family: 'Intro Book';
}

.intro-book-alt-regular {
    font-family: 'Intro Book Alt Regular';
}

.intro-bold-alt-regular {
    font-family: 'Intro Book Alt Regular';
}

.intro-light {
    font-family: 'Intro Light';
}

.intro-regular {
    font-family: 'Intro Regular';
}

.intro-cond {
    font-family: 'Intro Cond';
}

.intro-cond-alt {
    font-family: 'Intro Cond Alt';
}

.intro-cond-bold {
    font-family: 'Intro Cond Bold';
}

.intro-cond-light {
    font-family: 'Intro Cond Light';
}

.intro-cond-thin {
    font-family: 'Intro Cond Thin';
}

.intro-cond-thin-alt {
    font-family: 'Intro Cond Thin Alt';
}

.intro-cond-semibold-italic {
    font-family: 'Intro Cond Semibold Italic';
}

.intro-cond-semibold-alt {
    font-family: 'Intro Cond Semibold Alt';
}


/* tamaños de fuente */

.font-size-38 {
    font-size: 38px;
}

.font-size-50 {
    font-size: 50px;
}

.font-size-2 {
    font-size: 2rem;
}

.nav-font-size-2 {
    font-size: 2rem !important;
}

.font-size-3 {
    font-size: 3rem;
}

.font-size-4 {
    font-size: 4rem;
}

.font-size-5 {
    font-size: 5rem;
}

.font-size-6 {
    font-size: 6rem;
}

.font-size-7 {
    font-size: 7rem;
}

.font-size-8 {
    font-size: 8rem;
}

.font-size-10 {
    font-size: 10rem;
}

.font-size-12 {
    font-size: 12rem;
}


/* weigth */

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-800 {
    font-weight: 800;
}

.font-weight-900 {
    font-weight: 900;
}